.navbar {
    border-bottom: 3px solid grey;
}

.navbar-brand img {
    width: 50px;
}

.sive-pozadie {
    background-color: darkgray;
}

.hnedy-pozadie {
    background-color: rosybrown;
}

.nadpisovy-fond {
    font-family: "Times New Roman", Times, serif;
    color: saddlebrown;
}
.podnadpisovy-fond {
    font-family: "Times New Roman", Times, serif;
    color: black;
}

.pozadie-stranky {
    background-color: lightgray;
    width: 100%;
    margin: 0;
    padding: 0  !important;;
}

body {
    margin: 0;
    padding: 0;
}
.tlacidlo-vymazania {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tlacidlo-uprav {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tlacidlo-potvrdenia {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.tlacidlo-prekliknutie {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}




/* ===== TABUĽKY - ŠTÝLOVANIE ===== */

table.data-table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}


table.data-table th,
table.data-table td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}


table.data-table th {
    background-color: #D4AF37;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
}

table.data-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}


table.data-table tr:hover {
    background-color: #d9d9d9;
    transition: background-color 0.3s ease;
}

table.data-table tr:hover td:first-child {
    color: saddlebrown;
    font-weight: bold;
}

table.data-table td:nth-child(4) {
    font-style: italic;
    color: #555;
}


.farbaDatumuTabulka {
    color: red;
    font-style: italic;
}